---
layout: work
title: Work
permalink: /work/
color: F3EFE0
---
<div class = "wrap">
		<div class = "page-name">• Work •</div>
		<div class = "descriptor">
			<p> A repository of select projects. Here lives a culture of work spoken in different languages. A practice of envision, learning and building. From Mobile to Web, design to development, a programmer coding up with ideas.
			</p>
		</div>
		<div class="tileContainer">
		<div class="grid">
			{% assign projects = (site.posts| where:'category','work')%}
			{% assign colCount=0 %}
			{% for p in projects %}
				{% if colCount == 0 %}
					<div class="row">
				{% endif %}
				<div class="one-third column m-bottom-40">
			    	<a href="{{site.baseurl}}{{p.permalink}}">
				    <div class = "worktile">
				    	<img src="{{site.baseurl}}{{site.data.path.projects}}{{p.name}}/thumbnail@2x.png">
						<div class="infobar">
							<ul>
								<li><span>{{p.title}}</span></li>
								<li>
								<img src="{{site.baseurl}}{{site.data.path.icons}}date.svg">
								<span>{{p.date-finish-m-y}}</span>
								</li>
								<li>
										{% if p.platform == "iOS"%}
							<img src = "{{site.baseurl}}{{site.data.path.icons}}ios.svg">
						{% elsif p.platform == "Web"%}
							<img src = "{{site.baseurl}}{{site.data.path.icons}}web.svg">
						{% elsif p.platform == "Java"%}
							<img src = "{{site.baseurl}}{{site.data.path.icons}}java.svg">
						{% else %}
							<img src = "{{site.baseurl}}{{site.data.path.icons}}java.svg">
						{% endif %}
								<span>{{p.platform}}</span>
								</li>
							</ul>
						</div>
						<div class="overlay">
							<h1>{{p.title}}</h1>
						</div>
					</div>
				    </a>
				</div>
				{% assign colCount=colCount | plus:1 %}   
				{% if colCount == 3 %}
					</div>
					{% assign colCount=0%} 
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>