<div id="footer" 
	{% if page.url == "/index.html" %}
		class="hide"
	{% elsif page.url =="/music/" or  page.url =="/work/"%}
		class="darkGreyBG" 
	{% else %} 
		
	{% endif %}>
  <div class = "overlay">
	    <div class = "con_follow">
		 	<a href = "https://twitter.com/russellreventar" target="_blank"> 
		     	<div class = "sec twitter">
		     		<img class="bottom"src="{{site.baseurl}}{{site.data.path.icons}}twitter-active.svg">
		      		<img class="top"src="{{site.baseurl}}{{site.data.path.icons}}twitter.svg">
		      	</div>
		   	</a>
		   	<a href = "https://github.com/russellreventar" target="_blank">
		      	<div class = "sec github">
		      		<img class="bottom"src="{{site.baseurl}}{{site.data.path.icons}}github-active.svg">
		      		<img class="top"src="{{site.baseurl}}{{site.data.path.icons}}github.svg">
		      	</div>
		     </a>
	      	<a href = "https://instagram.com/russellreventar/" target="_blank">
		      	<div class = "sec instagram">
		      		<img class="bottom"src="{{site.baseurl}}{{site.data.path.icons}}instagram-active.svg">
		      		<img class="top"src="{{site.baseurl}}{{site.data.path.icons}}instagram.svg">
		    	</div>
			</a>
	      	<a href = "https://www.youtube.com/user/pol9360" target="_blank">
	      		<div class = "sec youtube">
	      			<img class="bottom"src="{{site.baseurl}}{{site.data.path.icons}}youtube-active.svg">
		      		<img class="top"src="{{site.baseurl}}{{site.data.path.icons}}youtube.svg">
	      		</div>
	   		</a>
	    </div>    
    	<h1> Copyright &copy 2015 Russell Reventar </h1>
  	</div>
</div>