<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />  
<meta name="keywords" content="personal, website, russell, reventar, music, work, videos">
		
<!-- mobile friendly -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
        
<!-- style sheets -->
<link href='http://fonts.googleapis.com/css?family=Reenie+Beanie|Tangerine|Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{site.baseurl}}{{site.data.path.css}}global.css">

<!-- scripts -->
<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src = "{{site.baseurl}}{{site.data.path.js}}particle.js"></script>
<script src = "{{site.baseurl}}{{site.data.path.js}}global.js"></script>
