<div id = "header" {% if page.url == "/index.html" %}class="noDisplay"{% else %} class="darkGreyBG" {% endif %}>
  <img class="header-BG" src="{{site.baseurl}}{{site.data.path.images}}headerbg.png">
  <div id="myname">
    <div id="redbar"></div>
    <a href="index">
      <span>R</span>USSELL
      <span>R</span>EVENTAR
     </a>
  </div>
  <div id = "desks">
    <img src ="{{site.baseurl}}{{site.data.path.images}}desk-developer.svg">
    <img src ="{{site.baseurl}}{{site.data.path.images}}desk-arts.svg">
  </div>
</div>
