body#music{
	background-color: #F3EFE0;
}

h1{
	font-family:  'Nothing You Could Do', cursive;
	color:#f3f3f3;
	font-size:27px;
	letter-spacing: 2px;
	word-spacing: 4px;
	padding:79px 0px 0px 7px;
}

h2{
	font-family: ProximaLight;
	color:#f3f3f3;
	font-size:15px;
	padding:0px 0px 0px 40px;
	letter-spacing: 1px;
	word-spacing: 4px;
	text-align: center;

}

.description{
	font-family: FuturaLight;
	color:#f3f3f3;
	font-size:15px;
	letter-spacing: 5px;
	word-spacing: 6px;
	padding: 5px 0px 5px 0px;
	text-align: center;
	background-color: rgba(0,0,0,1);
	float: left;
	position: absolute;
}

.seclogo{
	margin:0 auto;
	width:81px;
	height: 76px;
}
	.seclogo img{
		height:100%;
		width:100%;
		margin:0 auto;
	}
	.seclogo img:hover{
		background: url('../resources/images/logo-hover@2x.png') no-repeat center;
		background-size:100% 100%;
	}

.descriptor h1{
	font-family: Futura;
	letter-spacing: 1px;
	color:#22A39F;
	font-size:43px;
	text-align: center;
}

.banner{
/* 	background:url(../resources/images/river.jpg) no-repeat center; */
-webkit-box-shadow:inset 0 8px 6px -6px black,
-moz-box-shadow:inset 0 8px 6px -6px black;
box-shadow:inset 0 8px 6px -6px black;

height: 500px;
/*	background-size: ;*/
}

.banner img{
	position: absolute;
	width:100%;
	min-height: 500px; 
}

.musicplayer{
	margin:0 auto;
	height:200px;
	width:80%;
	background-color: rgba(242,35,35,0.27);
	display:block;
}

@media screen and (max-width: 640px){
	.musicplayer{
		margin: 0px auto;
		height:200px;
		width:200px;
		float:none;
	}
	.description{
		text-align: center;
		margin: 0 auto;
		float:none;
	}
}