.soon{
	height: 50px;
	padding-top:30px;
	color: black;
	font-family:  'Nothing You Could Do', cursive;
	font-size: 14px;
	letter-spacing: 1px;
	width: 100%;
	text-align: center;
}
.sample{
	color: black;
	font-family: Futura;
	font-size: 14px;
	letter-spacing: 1px;
	width: 100%;
	text-align: center;
	margin-top: 175px;
	text-transform: uppercase;
	position: absolute;
	z-index: 2;
}
.sample span{
	font-family:  'Nothing You Could Do', cursive;
	text-transform: none;
}
.musicplayer{
	/*background: blue;*/
	width:150px;
	height: 150px;
	position: absolute;
	right:0;left:0;
	margin: auto auto;
	z-index: 1;
	margin-top: 20px;
}
.wrapmusic{
	width: 100%;
	height: 400px;
}