---
layout: work
title: Work
---
<div class = "wrap">
		<div class = "page-name">- Work -</div>
		<div class = "descriptor">
			<p> Repository of my projects. Here lives a culture of work spoken in different languages. From Mobile Apps to Web Applications, from design to deployment, just a programmer writing programs. From school projects to programs assisting the workplace. Independentley developed
			</p>
		</div>
		<div class="tileContainer">
		<div class="grid">
			{% assign sorted-pages = (site.pages | sort: 'datecompleted') %}
			{% assign projects = (sorted-pages | where:'category','work')%}
			{% assign colCount=0 %}
			{% for p in projects %}

				{% if colCount == 0 %}
					<div class="row">
				{% endif %}
				<div class="one-third column m-bottom-40">
			    	<a href="{{site.baseurl}}{{p.permalink}}">
				    <div class = "worktile">
				    	<img src="{{site.baseurl}}{{site.data.path.images}}{{p.thumbnail}}">
						<div class="infobar">
							<ul>
								<li><span>{{p.title}}</span></li>
								<li>
								<img src="{{site.baseurl}}{{site.data.path.images}}date-icon.svg">
								<span>{{p.date-finish-m-y}}</span>
								</li>
								<li>
										{% if p.platform == "iOS"%}
							<img src = "{{site.baseurl}}{{site.data.path.images}}ios-icon.svg">
						{% elsif p.platform == "Web"%}
							<img src = "{{site.baseurl}}{{site.data.path.images}}web-icon.svg">
						{% elsif p.platform == "Java"%}
							<img src = "{{site.baseurl}}{{site.data.path.images}}java-icon.svg">
						{% else %}
							<img src = "{{site.baseurl}}{{site.data.path.images}}java-icon.svg">
						{% endif %}
								<span>{{p.platform}}</span>
								</li>
							</ul>
						</div>
						<div class="overlay">
							<h1>{{p.title}}</h1>
						</div>
					</div>
				    </a>
				</div>
				{% assign colCount=colCount | plus:1 %}   
				{% if colCount == 3 %}
					</div>
					{% assign colCount=0%} 
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>