<html>
<head>
	<title>{{ page.title }}</title>
	{% include head.html %}
	<link rel="stylesheet" href="{{site.baseurl}}{{site.data.path.css}}about.css" >
	<link href='http://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css'>
</head>

<body class="beigeBG">
<div id = "wrapper">
	{% include header.html %}
	{% include navigator.html %}

<div id = "content">

		<div class = "wrap80">

			<div class = "title">
				<h1>{{page.fullname}}</h1>
				<h2>{{page.subName}}</h2>
			</div>

			<div class = "info">
				<h1> <span>{{page.age}}</span> • {{page.location}} </h1>
			</div>

			<div class="contactme" > 
				<a href="mailto:russell.reventar@gmail.com?&body=Hello!">
					<img src="{{site.baseurl}}{{site.data.path.icons}}mail.svg">
				</a>
			</div>
		<div class="quote"><span>"</span>{{page.quote}}<span>"</span></div>

		<div class = "body">
			{{content}}
		</div>

		<div class = "sec2">
			<div class = "portrait"></div>
			<h1> Find me on </h1>
			<div class = "findmeLinks">
				{% for sc in page.socialNets %}
					<li>
						<a href="{{sc.link}}">
							{{sc.name}}
						</a>
					</li>
				{% endfor %}
			</div>

		</div> 
		
    </div>

</div>

</div>

</body>