<html>
<head>
	<title>{{ page.title }}</title>
	{% include head.html %}
	<link rel="stylesheet" href="{{site.baseurl}}{{site.data.path.css}}about.css" >
	<link href='http://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css'>
</head>

<body>
<div id = "wrapper">
	{% include header.html %}
	{% include navigator.html %}

<div id = "content" class="beigeBG">

		<div class = "wrap80">

			<div class = "title">
				<h1>Russell Mark Reventar</h1>
				<h2>about me</h2>
			</div>

			<div class = "info">
				<h1> <span>22</span> • Toronto </h1>
			</div>

			<div class="contactme" > 
				<img src="{{site.baseurl}}{{site.data.path.images}}mail-icon.svg">
			</div>
		<div class="quote"><span>"</span>{{page.quote}}<span>"</span></div>

		<div class = "body">
			{{content}}
		</div>

		<div class = "sec2">
			<div class = "portrait"></div>
			<h1> Find me on </h1>
			<div class = "findmeLinks">
				<li>
					<a href="/about/about.html">
					Instagram</a></li>
				<li>
					<a href="/work/">
					Linkedin</a></li>
				<li>
					<a href="https://github.com/russellreventar" target = "_blank">
					Github</a></li>
				<li>
					<a href="/contact/">
					Youtube</a></li>
				<li>
					<a href="/contact/">
					Twitter</a></li>
			</div>

		</div> 
		
    </div>

</div>

</div>

</body>