<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
	<script src = "{{site.baseurl}}/scripts/project.js"></script>
	<link rel="stylesheet" href="{{site.baseurl}}/stylesheets/project.css" >
</head>
<body>
	<div id="wrapper">
		{% include header.html %}
		{% include navigator.html %}
		<div id="content" class="beigeBG">
			<div class="wrap80">
			<div class="title">/{{page.title}}</div>
			<div class="subtitle">{{page.subheading}}</div>
			<div class="screenshots">
				<img src="{{site.baseurl}}/res/images/mastermind-screenshot-1.png">
			</div>
			<div class="info">
				<ul>
					<li>
						{% if page.platform == "ios"%}
							<img src = "{{site.baseurl}}/res/images/ios-icon.svg">
						{% elsif page.platform == "web"%}
							<img src = "{{site.baseurl}}/res/images/web-icon.svg">
						{% elsif page.platform == "java"%}
							<img src = "{{site.baseurl}}/res/images/java-icon.svg">
						{% else %}
							<img src = "{{site.baseurl}}/res/images/java-icon.svg">
						{% endif %}
						<span>{{page.platform}}</span>
					</li>
					<li>
						<img src = "{{site.baseurl}}/res/images/proglang-icon.svg">
						{{page.language}}
					</li>
					<li>
						<img src = "{{site.baseurl}}/res/images/clock-icon.svg">
						{{page.datecompletedStr}}
					</li>
				</ul>
			</div>
			
			<div class="description">
				<div class="bar"></div>
				{{content}}
			</div>
		</div>
		</div>
		{% include footer.html %}
	</div>
</body>
</html>