<!DOCTYPE html>
<html>
<head>
	<title>Work - {{ page.title }}</title>
	{% include head.html %}
	<script src = "{{site.baseurl}}{{site.data.path.js}}project.js"></script>
	<link rel="stylesheet" href="{{site.baseurl}}{{site.data.path.css}}project.css" >
</head>
<body>
	<div id="wrapper">
		{% include header.html %}
		{% include navigator.html %}
		<div id="content" class="beigeBG">
			<div class="wrap80">
			<div class="title">
				<!-- <img src="{{site.baseurl}}/{{page.logo}}"> -->
				<div class="heading">
					<div class="name">/{{page.title}}</div>
					<div class="description">{{page.subheading}}</div>
				</div>
			</div>
			<!-- <div class="screenshots">
				<img src="{{site.baseurl}}/{{page.screenshot-1}}">
			</div> -->
			<div class="info">
				<ul>
					<li>
						{% if page.platform == "ios"%}
							<img src = "{{site.baseurl}}{{site.data.path.images}}ios-icon.svg">
						{% elsif page.platform == "web"%}
							<img src = "{{site.baseurl}}{{site.data.path.images}}web-icon.svg">
						{% elsif page.platform == "java"%}
							<img src = "{{site.baseurl}}{{site.data.path.images}}java-icon.svg">
						{% else %}
							<img src = "{{site.baseurl}}{{site.data.path.images}}java-icon.svg">
						{% endif %}
						<span>{{page.platform}}</span>
					</li>
					<li>
						<img src = "{{site.baseurl}}{{site.data.path.images}}proglang-icon.svg">
						{{page.language}}
					</li>
					<li>
						<img src = "{{site.baseurl}}{{site.data.path.images}}clock-icon.svg">
						{{page.datecompletedStr}}
					</li>
				</ul>
			</div>
			
			<div class="contentBody">
				<div class="bar"></div>
				{{content}}
			</div>
		</div>
		</div>
		{% include footer.html %}
	</div>
</body>
</html>