<!DOCTYPE html>
<html>
<head>
	<title>Work - {{ page.title }}</title>

	{% include head.html %}
	<script src = "{{site.baseurl}}{{site.data.path.js}}project.js"></script>
	<link rel="stylesheet" href="{{site.baseurl}}{{site.data.path.css}}project.css" >
	<script type="text/javascript">$(document).bind("mobileinit", function(){$.extend($.mobile,{autoInitializePage: false})});</script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body class="beigeBG">
	<div id="wrapper">
	<div class="fullscreenImg">
		{% for ss in page.screenshots %}
			<img class="{{page.ss-orientation}}" src="{{site.baseurl}}{{site.data.path.projects}}{{page.name}}/{{ss.filename}}"/>
		{% endfor %}
	</div>
		{% include header.html %}
		{% include navigator.html %}
		<div id="content" class="beigeBG">

			<div class="bannerbg" style="border-top: 3px solid #{{page.color}}">
			<div class="innershadow overlay"></div>
			<div class = "banner">
				<img src="{{site.baseurl}}{{site.data.path.projects}}{{page.name}}/banner@2x.png">
			</div>
		</div>
				<div class="wrap">
			<div class="title">
				<!-- <img class="logo"src="{{site.baseurl}}{{site.data.path.images}}/{{page.name}}/logo.svg">
 -->				<div class="heading">
					<div class="name" style="color: #{{page.color}};">{{page.title}}</div>
					<div class="description">
						<span>{{page.description}}</span>
						<span> {{page.date-finish-m-y}}</span>
					</div>
					<!-- <div class="company">{{page.company}}</div> -->
				</div>
			</div>
			<div class="info">

				<div class="tag">
					<div class="tag-icon">
						{% if page.platform == "iOS"%}
							<img src = "{{site.baseurl}}{{site.data.path.icons}}ios.svg">
						{% elsif page.platform == "Web"%}
							<img src = "{{site.baseurl}}{{site.data.path.icons}}web.svg">
						{% elsif page.platform == "Java"%}
							<img src = "{{site.baseurl}}{{site.data.path.icons}}java.svg">
						{% else %}
							<img src = "{{site.baseurl}}{{site.data.path.icons}}java.svg">
						{% endif %}
					</div>
					<div class="tag-label">
						{{page.platform}} Application
					</div>
				</div>
				<div class="tag">
					<div class="tag-icon">
						<img src = "{{site.baseurl}}{{site.data.path.icons}}proglang.svg">
					</div>
					<div class="tag-label">
						{{page.language}}
					</div>
				</div>
				<div class="tag">
					<div class="tag-icon">
						<img src = "{{site.baseurl}}{{site.data.path.icons}}clock.svg">
					</div>
					<div class="tag-label">
						{{page.completion-time}}
					</div>
				</div>
			</div>

			
			<div class="contentBody">
				<div class="bar" style="background-color: #{{page.color}};"></div>
					{{content}}
				</div>
			</div>
			<div id="gallery">
				{% for ss in page.screenshots %}
					<img src="{{site.baseurl}}{{site.data.path.projects}}{{page.name}}/{{ss.filename}}"/>
				{% endfor %}
				<div class="clickzone"></div>
				<div class="slider">
					{% for ss in page.screenshots %}
						<h1>{{ss.label}}</h1>
					{% endfor %}
					<ul>
						{% for ss in page.screenshots %}
							<li></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="viewCode">
				<h1>View <a target="_blank" href="{{page.github-code}}">Source Code</a>  in Github</h1>
			</div>
			<div class="prenex-nav">
					{% if page.previous and page.next %}
						
						<a href="{{site.baseurl}}{{page.previous.url}}">
						<div class="prevProj half" style="background-color: #{{page.previous.color}};">
							<img class="l-arrow"src="{{site.baseurl}}{{site.data.path.icons}}leftarrow.svg">
							<div class="pv-text-l">
								<h1>Previous</h1>
								<h2>{{page.previous.title}}</h2>
							</div>
						</div>
						</a>
						
						<a href="{{site.baseurl}}{{page.next.url}}">
						<div class="nextProj half" style="background-color: #{{page.next.color}};">
							<div class="pv-text-r">
								<h1>Next</h1>
								<h2>{{page.next.title}}</h2>
							</div>
							<img class="r-arrow"src="{{site.baseurl}}{{site.data.path.icons}}rightarrow.svg">
						</div>
						</a>

					{% elsif page.previous %}
						<a href="{{site.baseurl}}{{page.previous.url}}">
						<div class="prevProj full" style="background-color: #{{page.previous.color}};">
							<img class="l-arrow"src="{{site.baseurl}}{{site.data.path.icons}}leftarrow.svg">
							<div class="pv-text-l">
								<h1>Previous</h1>
								<h2>{{page.previous.title}}</h2>
							</div>
						</div>
						</a>
					{% elsif page.next %}
						<a href="{{site.baseurl}}{{page.next.url}}">
						<div class="nextProj full" style="background-color: #{{page.next.color}};">
							<div class="pv-text-r">
								<h1>Next</h1>
								<h2>{{page.next.title}}</h2>
							</div>
							<img class="r-arrow"src="{{site.baseurl}}{{site.data.path.icons}}rightarrow.svg">
						</div>
						</a>
					{% endif %}
			</div>
		</div>
		{% include footer.html %}
	</div>
</body>
</html>